name: Build Packages

on:
   push:
      branches:
         - main
   pull_request:

jobs:
   build:
      runs-on: ubuntu-latest
      timeout-minutes: 5
      name: Build
      steps:
         - uses: actions/checkout@v4
         - name: Setup Bun
           uses: oven-sh/setup-bun@v2
         - name: Install dependencies & tooling
           run: |
              bun install
              bun run lint
              bun run typecheck
              bun run build
