name: Build Packages & Test

on:
   push:
      branches:
         - main
   pull_request:

concurrency:
   group: ${{ github.workflow }}-${{ github.ref }}
   cancel-in-progress: false

env:
   CI: true

jobs:
   build:
      runs-on: blacksmith-2vcpu-ubuntu-2404
      timeout-minutes: 15
      name: Build
      env:
         AGENTUITY_CLOUD_PROJECT_ID: ${{ vars.AGENTUITY_CLOUD_PROJECT_ID }}
         AGENTUITY_USER_ID: ${{ vars.AGENTUITY_USER_ID }}
         AGENTUITY_CLOUD_ORG_ID: ${{ vars.AGENTUITY_CLOUD_ORG_ID }}
      steps:
         - uses: actions/checkout@v4
         - name: Setup Bun
           uses: oven-sh/setup-bun@v2
         - name: Install dependencies
           run: |
              set -eou pipefail
              bun install
         - name: Create testing/auth-app .env
           run: |
              echo "AGENTUITY_SDK_KEY=${{ secrets.AGENTUITY_SDK_KEY }}" > apps/testing/auth-app/.env
              echo "AGENTUITY_CLOUD_PROJECT_ID=${{ env.AGENTUITY_CLOUD_PROJECT_ID }}" >> apps/testing/auth-app/.env
              echo "OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}" >> apps/testing/auth-app/.env
              APIKEY=$(curl https://api.agentuity.com/cli/auth/short-token --json "{\"secret\":\"${{ secrets.AGENTUITY_CATALYST_SECRET }}\",\"userId\":\"${{ env.AGENTUITY_USER_ID }}\"}" | jq -r '.data.apiKey')
              echo "AGENTUITY_CLI_API_KEY=${APIKEY}" >> $GITHUB_ENV
         - name: Build and Test
           timeout-minutes: 15
           run: |
              set -eou pipefail
              bun run build
              bun run whoami
              bun all
         - name: Cleanup .env
           if: always()
           run: rm -f apps/testing/auth-app/.env
